### Q1. What are the characteristics of the tuples? Is tuple immutable? 
* Represented by parentheses: Tuples are defined using parentheses,with elements separated by commas 
* Ordered:Tuples are ordered collection of elements which can be accessed by indexing
* Used for grouping data: Tuples are often used to group related data together into a single object
* Supports all datatypes:Different datatypes like string,int,list,set can be stored in a tuple
* Splicing:Splicing of tuple is possible to retrieve desired elements
* Immutable:Elements in a tuple cannot be changed.

### Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why  tuples have only two in-built methods as compared to Lists
* count()-counts the number of occurences of the element in the tuple
* index()-returns first index of the value

Since tuples are immutable, they do not need the same range of in built methods as lists, which are mutable. For example, there is no need for methods to modify the contents of a tuple, since this is not required in a tuple.

#### Example of count()

In [10]:
t=(1,2,4,"sagarika","raina","raina","sparsh")
t

(1, 2, 4, 'sagarika', 'raina', 'raina', 'sparsh')

In [13]:
t.count("raina")

2

#### Example of index()

In [12]:
t.index('raina')

4

### Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove  duplicates from the given list. 
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

* Set collection does not allow duplicate values

In [17]:
list1= [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4] 
set(list1)

{1, 2, 3, 4}

### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.
* union() - returns a new set with union of elements in both sets
* update() - updates original set  elements to include elements of other set

In [26]:
# example of union()
set1={1,2,3,4}
set2={5,6,7,8}
set3=set1.union(set2)
print("set3=",set3)
print("set1=",set1)
print("set2=",set2)

set3= {1, 2, 3, 4, 5, 6, 7, 8}
set1= {1, 2, 3, 4}
set2= {8, 5, 6, 7}

In [27]:
# example of update()
set4={1,2,3,4}
set5={5,6,7,8}
set2.update(set1)
print("set1=",set1)
print("set2=",set2)

set1= {1, 2, 3, 4}
set2= {1, 2, 3, 4, 5, 6, 7, 8}

### Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

 * Dictionary in Python is an unordered collection of key-value pairs
 * Dictionaries are mutable, meaning that their contents can be changed after they are created
 * accessed by key, not by index
 * splicing possible in dictionary

In [1]:
employee = {'name': 'John Doe', 'age': 35, 'department': 'Sales'}

In [2]:
employee

{'name': 'John Doe', 'age': 35, 'department': 'Sales'}

In [3]:
employee['name']

'John Doe'

### Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.
* Yes we can create nested dictionary

In [6]:
dictionary1={'name':'Sagarika','age':22,'family': {1:'Seema',2:'Sparsh',3:'Rakesh'}}

In [7]:
dictionary1

{'name': 'Sagarika',
 'age': 22,
 'family': {1: 'Seema', 2: 'Sparsh', 3: 'Rakesh'}}

In [9]:
dictionary1['family'][1]

'Seema'

### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of  the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

In [11]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'} 
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

### Q8.What are the three view objects in dictionaries? Use the three in-built methods in python to display  these three view objects for the given dictionary. 
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']} 

* keys() -returns view object that displays list of all keys in a dictionary.
* values() -returns a view object that displays a list of all the values in a dictionary.
* items() -returns view object of a list of all the key-value pairs in a dictionary.

In [12]:
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [15]:
dict2.keys()

dict_keys(['Sport', 'Teams'])

In [16]:
dict2.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [18]:
dict2.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])