In [2]:
# Q1 .Write a program to accept percentage from the user and display the grade according to the following criteria
'''
Marks          Grade
>90            A
>80 and <=90   B
>=60 and <=80  C
below 60       D 
'''

'\nMarks          Grade\n>90            A\n>80 and <=90   B\n>=60 and <=80  C\nbelow 60       D \n'

In [10]:
i=int (input("Enter marks"))
grade=''
if(i>90):
    grade='A'
elif(i>80 and i<=90):
    grade='B'
elif(i>=60 and i<=80):
    grade='C'
elif(i<60):
    grade='D'
print(grade)

Enter percentage 60

C

In [13]:
# Q2 .Write a program to accept cost price of bike and display road tax to be paid according to following criteria
"""
Tax          Cost price
15%          >100000
10%          >50000 and <=100000
5%           <= 50000 
"""

'\nTax          Cost price\n15%          >100000\n10%          >50000 and <=100000\n5%           <= 50000 \n'

In [15]:
price=int(input("Ener cost price of bike"))
roadtax=0
if price>100000:
    roadtax=0.15*price
elif price>50000 and price<=100000:
    roadtax=0.10*price
else:
    roadtax=0.05*price
print(roadtax)

Ener cost price of bike 100000

10000.0

In [21]:
# Q3 .Accept any city from the user and display monumnets of that city
"""
City         Monument
Delhi        Red Fort
Agra         Taj Mahal
Jaipur       Jal Mahal
"""
cityinput=input("enter city")
city=cityinput.lower()
if city=='delhi':
    monument='Red Fort'
elif city=='agra':
    monument='Taj Mahal'
elif city=='jaipur':
    monument='Jal Mahal'
else:
    print("Enter either Delhi,Jaipur,Agra only")
print(monument)

enter city AgRa

Taj Mahal

In [35]:
#Q4.Check how many times a given number can be divided by 3 before it is less than or equal to 10
no=int(input("Enter a number"))
count=0
for i in range(no,11):
    if i%3==0:
        count=count+1
print(count)

Enter a number 4

2

# Q5.Why and when to use while loop in python with an example?

The while loop in Python is used to repeatedly execute a block of code as long as a given condition is true.
While loop when you want to repeat a set of actions until a specific condition is met. For example, you might use a while loop to repeatedly read input from the user until they enter a valid value:

In [12]:
while True:
    user_input = input("Enter a number:")
    if user_input.isdigit():
        break
    print("Invalid input, try again.")

Enter a number: j

Invalid input, try again.

Enter a number: 7


In this example, the while loop continues to execute as long as the True condition is true. The break statement is used to exit the loop when a valid input is entered by the user.

In [8]:
# Q6.3 different patterns using nested while look
# right angled triangle
rows=int(input("Enter number of rows"))
i=0
while i<rows:
    j=0
    while j<i:
        print("*",end=" ")
        j=j+1
    print("\r")
    i=i+1

Enter number of rows 7

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *

In [11]:
# pyramid triangle
rows=int(input("enter number of rows"))
i=0
while i<rows:
    j=0
    while j<rows-i:
        print(end=" ")
        j=j+1
    k=0
    while k<i:
        print("*",end=" ")
        k=k+1
    print("\r")
    i=i+1

enter number of rows 7

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [7]:
# inverted triangle
rows=int(input("enter number of rows"))
i=0
while i<rows:
    j=0
    while j<rows-i:
        print("*",end=" ")
        j=j+1
    print("\r")
    i=i+1

enter number of rows 7

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
# Q7 Use while loop to print numbers from 10-1
i=10
while i>=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [10]:
# Q8.Use while loop to print numbers from 1-10
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10